.bottomPlayerDiv{
    padding-right: 26px;
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #080808;
    height: 128px;
}