.bottomPlayerDiv{
    padding-right: 19.5px;  /*Absolute Value*/
    padding-left: 19.5px; /*Absolute Value*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #080808;
    height: 96px; /*Absolute Value*/
    z-index: 10;
}