.mainbody{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 15px; /*absolute gap value*/
    padding-left: 13.5px; /*absolute padding value*/
    padding-right: 13.5px; /*absolute padding value*/
    margin-bottom: 2px;
    max-height: calc(100vh - 98px - 97.5px);
    position: relative;
}