.playlistSection{
    flex: 1;
    height: 100%;
    max-height: calc(100vh - 98px - 97.5px);

    border-radius: 10px;
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.playlistSection::-webkit-scrollbar{
    display: none;
}

.blur{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0%,-50%);
    pointer-events: none;
}