.playerdiv{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37.5px;
}

button{
    background: none;
    border: none;
}

.timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21.6px;
}

.time{
    font-size: 12px; /*absolute value*/
    font-family: "DM Sans";
    font-weight: 700;
}

button:hover .navbtnsvg .navbtns{
    fill: white;
}