.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pageMobile {
  display: none;
}

@media (max-width: 1000px) {
  .page {
    display: none;
  }

  .pageMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(
      rgba(72, 37, 141, 0.45) 0%,
      rgba(87, 52, 155, 0.45) 17%,
      rgba(0, 0, 0, 0.45) 75%,
      rgba(0, 0, 0, 0.45) 100%
    );
  }
}
